doc/data/noaa/getNOAADatasets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RestClientRequest" type="RestClientRequestType"/>
  <xs:complexType name="optionType" mixed="true">
    <xs:sequence>
      <xs:element name="list" minOccurs="0">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element type="KeyValuePairType" name="KeyValuePair" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
  </xs:complexType>
  <xs:complexType name="KeyValuePairType">
    <xs:sequence>
      <xs:element type="optionType" name="option" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RestClientRequestType">
    <xs:sequence>
      <xs:element type="optionType" name="option" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listType">
    <xs:sequence>
      <xs:element type="KeyValuePairType" name="KeyValuePair" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>